/* =============================================================================
  BOX SIZING & CLEARFIX
============================================================================= */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* =============================================================================
  FONT
============================================================================= */
@font-face {
  font-family: 'Unibody8Pro-Regular';
  src: url('Unibody8Pro-Regular.eot?#iefix') format('embedded-opentype'),  url('Unibody8Pro-Regular.otf')  format('opentype'),
       url('Unibody8Pro-Regular.woff') format('woff'), url('Unibody8Pro-Regular.ttf')  format('truetype'), url('Unibody8Pro-Regular.svg#Unibody8Pro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unibody8Pro-RegularSmallCaps';
  src: url('Unibody8Pro-RegularSmallCaps.eot?#iefix') format('embedded-opentype'),  url('Unibody8Pro-RegularSmallCaps.otf')  format('opentype'),
       url('Unibody8Pro-RegularSmallCaps.woff') format('woff'), url('Unibody8Pro-RegularSmallCaps.ttf')  format('truetype'), url('Unibody8Pro-RegularSmallCaps.svg#Unibody8Pro-RegularSmallCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unibody8Pro-Black';
  src: url('Unibody8Pro-Black.eot?#iefix') format('embedded-opentype'),  url('Unibody8Pro-Black.otf')  format('opentype'),
       url('Unibody8Pro-Black.woff') format('woff'), url('Unibody8Pro-Black.ttf')  format('truetype'), url('Unibody8Pro-Black.svg#Unibody8Pro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* =============================================================================
  BASE
============================================================================= */
/* body */
body {
  background-color: #fff;
  color: #787878;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

/* text level semantics */
a {
  text-decoration: none;
  color:#787878;
}

a:hover {
  color: black;
}

h1 {
    font-family: 'Unibody8Pro-Regular';
    font-size: 4em;
}

span {
   font-family: 'Unibody8Pro-Black';
   color: orange;
   font-size: 1em;
   letter-spacing: -.1em;

}


  /* =============================================================================
  LAYOUT
============================================================================= */
/* main layout */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.main {
  display: block;
  background-color: #fff;
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;

}

/* primary header */
.header__primary {
  padding: 10px 10px 10px 5%;
}

.header__primary--logo {
  float: left;
  margin-left: -20px;
  width: 15%;
  height: 20px;
}


/* primary nav */
.nav__primary {
  font-family: 'Unibody8Pro-Regular';
  float: right;
  width: 85%;
  text-align: right;
  padding-right: 4%;
  padding-top: 40px;
  color: #000;
}

.nav__primary--link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding-left: 20px ;
  width: auto;
  height: 20px;

}

.nav__primary--link:hover:after {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20px;
  padding: 20px 5px;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  border-radius: 10px;
}

.section {
  margin-bottom: 1px;
  width: 100%;

}

.section__title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.section__content {
  padding-left: 3px;
}

/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 25%;
  height: same-as-width;
  text-align: center;
}

.card:nth-child(1) {
  margin-left: -3px;
  margin-right: 1px;
}

.card:nth-child(2),
.card:nth-child(3) {
  margin-right: 1px;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ff5078;
}

.card__back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 65%;
  right: 80%;
  bottom: 10px;
  left: 10%;
  font-size: 1.5em;
  height: 40px;
  color: #fff;
  font-family: 'Unibody8Pro-RegularSmallCaps', serif;
  line-height: 1.1em;
  text-transform: capitalize;
  text-align: left;
  text-align: bottom;
}

/* hover effect */

.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect 
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
*/



/* iPads (portrait and landscape) ----------- */
@media all and (max-width : 1024px) {
/* Styles */
/* primary header */
.header__primary {
  padding: 10px 10px 10px 5%;
}

.header__primary--logo {
  float: left;
  margin-left: -20px;
  width: 15%;
  height: 20px;
}


/* primary nav */
.nav__primary {
  font-family: 'Unibody8Pro-Regular';
  float: right;
  width: 85%;
  text-align: right;
  padding-right: 4%;
  padding-top: 40px;
  color: #000;
}

.section {
  margin-bottom: 1px;
  width: 90%;
  margin: auto;

}

.header__primary--logo {
  float: none;
  margin:auto;
  width: 100%;
  height: 20px;
  display: block;
}

.card__text {
  display: inline-block;
  position: absolute;
  top: 65%;
  right: 80%;
  bottom: 10%;
  left: 10%;
  font-size: 1em;
  height: 40px;
  color: #fff;
  font-family: 'Unibody8Pro-RegularSmallCaps', serif;
  line-height: 1em;
  text-transform: capitalize;
  text-align: left;
  text-align: bottom;
}

.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 50%;
  text-align: center;
}

.card:nth-child(1) {
  margin-right: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.card:nth-child(2) {
  margin-bottom: 1px;
  margin-top: 1px;
}

.card:nth-child(3) {
  margin-left: -3px;
  margin-right: 1px;
}

.card:nth-child(5) {
  margin-right: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.card:nth-child(6) {
  margin-bottom: 1px;
  margin-top: 1px;
}



}


/* iPhone 4 ----------- */
@media all and (min-width : 320px) and (max-width : 768px) {
/* Styles */

.section {
  margin-bottom: 1px;
  width: 80%;
  margin: auto;

}

.nav__primary {
  font-family: 'Unibody8Pro-Regular';
  float: none;
  width: 100%;
  text-align: none;
  padding-left: 5%;
  padding-top: 40px;
  color: #000;

}



.card__text {
  display: inline-block;
  position: absolute;
  top: 65%;
  right: 80%;
  bottom: 10%;
  left: 10%;
  font-size: .7em;
  height: 40px;
  color: #fff;
  font-family: 'Unibody8Pro-RegularSmallCaps', serif;
  line-height: 1em;
  text-transform: capitalize;
  text-align: left;
  text-align: bottom;
}

.card {
  position: relative;
  float: none;
  padding-bottom: 25%;
  width: 100%;
  text-align: center;
  display:block;
}

.card:nth-child(1) {
  margin:auto;
}

.card:nth-child(2) {
  margin:auto;
  margin-top: 1px;
}

.card:nth-child(3) {
  margin:auto;
  margin-top: 1px;
}

.card:nth-child(4) {
  margin:auto;
  margin-top: 1px;
  margin-bottom:1px;
}

.card:nth-child(5) {
  margin:auto;
  margin-top: 1px;
}

.card:nth-child(6) {
  margin:auto;
  margin-top: 1px;
}

.card:nth-child(7) {
  margin:auto;
  margin-top: 1px;
}

}

