/* =============================================================================
  FONT
============================================================================= */
@font-face {
  font-family: 'Unibody8Pro-Regular';
  src: url('Unibody8Pro-Regular.eot?#iefix') format('embedded-opentype'),  url('Unibody8Pro-Regular.otf')  format('opentype'),
       url('Unibody8Pro-Regular.woff') format('woff'), url('Unibody8Pro-Regular.ttf')  format('truetype'), url('Unibody8Pro-Regular.svg#Unibody8Pro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unibody8Pro-RegularSmallCaps';
  src: url('Unibody8Pro-RegularSmallCaps.eot?#iefix') format('embedded-opentype'),  url('Unibody8Pro-RegularSmallCaps.otf')  format('opentype'),
       url('Unibody8Pro-RegularSmallCaps.woff') format('woff'), url('Unibody8Pro-RegularSmallCaps.ttf')  format('truetype'), url('Unibody8Pro-RegularSmallCaps.svg#Unibody8Pro-RegularSmallCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unibody8Pro-Black';
  src: url('Unibody8Pro-Black.eot?#iefix') format('embedded-opentype'),  url('Unibody8Pro-Black.otf')  format('opentype'),
       url('Unibody8Pro-Black.woff') format('woff'), url('Unibody8Pro-Black.ttf')  format('truetype'), url('Unibody8Pro-Black.svg#Unibody8Pro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


a {
  text-decoration: none;
  color:#787878;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: black;
}

h1 {
    font-family: 'Unibody8Pro-Regular';
    font-size: 1.5em;
}


span {
   font-family: 'Unibody8Pro-Black';
   font-size: 1em;
   letter-spacing: -.1em;

}

p {

  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
}

.header__primary--logo {
  float: left;
  margin-left: 2%;
  width: 15%;
  height: 20px;
  z-index: 20;
}


.text{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.text{
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap:40px;
}
/* ============================================================
  INFO BAR
============================================================ */
.info-bar {
  padding: 5px 0;
  background-color: #fff;
  opacity: 0.7;
  text-align: center;
  position: fixed;
  width: 100%
}

.info-bar:hover{
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


.info-bar a.icon {
  font-family: "Unibody8Pro-Regular", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  color: #787878;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  opacity: 0.3;
}

.info-bar a:after {
  opacity: 1;
}
.info-bar a:hover:after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  padding: 5px 10px;
  background-color: #fff;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
}

.review {

  position: relative;
  font-family: 'Unibody8Pro-Regular', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  float: left;
  width: 20%;
  margin-left: 20%;

}

.review--link{
  margin-right: 10px;
}


.nav__primary--link {

  position: relative;
  font-family: 'Unibody8Pro-Regular', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  float: right;
  margin-right: 5%;
  width: 5%;

}


/* ============================================================
  SECTIONS
============================================================ */

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'Unibody8Pro-RegularSmallCaps', sans-serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  font-family: 'Unibody8Pro-Black', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../img/images_1/1.jpg");
  width: 100%;
}
section.module.parallax-2 {
  background-image: url("../img/images_1/2.jpg");
  width: 100%;
}
section.module.parallax-3 {
  background-image: url("../img/images_1/3.jpg");
  width: 100%;
}

section.module.parallax-4 {
  background-image: url("../img/images_1/4.jpg");
  width: 100%;
}

section.module.parallax-5 {
  background-image: url("../img/images_1/5.jpg");
  width: 100%;
}

section.module.parallax-6 {
  background-image: url("../img/images_1/6.jpg");
  width: 100%;
}




@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }


.group{
  width: 100%;
  margin: 40px 0 40px 0;
  display: block;
  text-align: center;
}

.image{
  position: relative;
  padding-bottom: 10%;
  width: 100%;
  height: 0;
  margin:0;
  display: inline;

}

figure{
  display:inline-block;
}

figcaption{
  font-family: 'Unibody8Pro-Regular', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

#video{
  width: 50%;
}




}
