
@font-face {
  font-family: 'Unibody8Pro-RegularSmallCaps';
  src: url('Unibody8Pro-RegularSmallCaps.eot?#iefix') format('embedded-opentype'),  url('Unibody8Pro-RegularSmallCaps.otf')  format('opentype'),
	     url('Unibody8Pro-RegularSmallCaps.woff') format('woff'), url('Unibody8Pro-RegularSmallCaps.ttf')  format('truetype'), url('Unibody8Pro-RegularSmallCaps.svg#Unibody8Pro-RegularSmallCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
